$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) {
	@return #{$pixels/$context}em;
}

@mixin center-x-y() {
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
}