.banner {
	position:fixed;
	top:0;
	z-index: 3; /* Luc 26/10 : 3 avant pour corriger l'affixe dans shop */
	width:100%;
	text-align:center;
	line-height:30px;
}

.archive.tax-product_cat.woocommerce.woocommerce-page .banner,
.post-type-archive-product.woocommerce.woocommerce-page .banner {
	z-index: 2; /* Luc 26/10 : 3 avant pour corriger l'affixe dans shop */
}

.banner--hidden {
	display: none;
}

.banner__text a {
    color: black;
}

.banner[aria-hidden="false"] + .menu .site-header {
    margin-top:30px;
    @media screen and (max-width: 874px) {
		 margin-top: 0;
	}
}

.banner[aria-hidden="false"] + .site-content {
	margin-top:30px;
}

.banner[aria-hidden="false"] + .menu__icons{
	margin-top:30px; /* Ta mère ça marche pas */
}

.banner__text {
	margin:0;
	font-family:'HalisGR-Light';
    font-size: 90%;
    letter-spacing: 0.5px; /* ça devrait être 2px */
    @media screen and (max-width: 1280px) {
		font-size: 80%;
    }
    @media screen and (max-width: 1190px) {
		font-size: 70%;
    }
    @media screen and (max-width: 1050px){
		font-size: 65%;
    }
    @media screen and (max-width: 960px){
		font-size: 55%;
    }
    @media screen and (max-width: 874px) {
        display:none; 
	}
}
.banner__text p{
	margin:0;
}
.banner__text p strong{
	font-family:'HalisGR-Bold';
	font-weight: 300;
}

.banner__link {
	text-decoration:none;
	display:block;
	color:inherit;
}

.banner__closer {
	width:12px;
	position:absolute;
	right:0;
	top:50%;
	-webkit-transform:translateY(-50%);
	transform:translateY(-50%);
	cursor:pointer;
	margin-right:44px;
}

.banner[aria-hidden=false] + .site__header{
	padding-top: 30px;
}

.banner-closer{
    position:absolute;
    right:1em;
    top:0;
}