ul#site-footer-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        -webkit-box-pack: justify;
            justify-content: space-between;
    width: 87%;
    margin: 0px;
    text-transform: uppercase;
    font-weight: 300;
}

footer.site__footer {
    max-width: 90%;
    margin: auto;
    margin-top: 100px;
        margin-bottom: 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
}

@media screen and(max-width: 768px) {
    footer.site__footer {
        margin-top: 50px;
    }

    .newsletter-input {
        font-size: 15px;
        padding: 0;
    }
}


.footer__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.site__footer-menu-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
            -webkit-box-align: start;
                -ms-flex-align: start;
                    align-items: start;        
    
}

.footer__bottom {
    padding-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}
.bottom-buttons {
    width: auto;
}
.bottom-buttons p, .bottom-buttons a {
	color: #777777;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 1em;
}
.bottom-buttons a:last-child{
	margin-right:0;
}

li.site__footer-menu-item {
    list-style-type: none;
}
ul.site__footer-sub-menu {
    text-transform: initial;
    padding-top: 13px;
}

a.site__footer-menu-link {
    color: #777777;
}

.site__footer-menu > li > a {
    font-weight: 700;
}

span.footer__col-title {
    color: #777777;
    font-weight: 700;
    display: block;
    margin-bottom: 0.5em;
}

.footer__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px 0px;
    position: relative;

    .aube__error {
        position: absolute;
        bottom: -14px;
        left: 0;
        width: 100%;
    }
}
input#newsletter-submit {
    background-color: black;
    color: white;
    font-size: 13px;
    border: 1px solid black;
}

/*PRE-FOOTER*/
.pre-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    text-align: center;
    color:black;
    font-size: 12px;
    background-size:cover;
    padding: 50px;
}
.pre-footer__picto {
    width: 30px;
}
.pre-footer__section {
    max-width: 300px;
}

@media screen and (max-width: 768px) {
    .pre-footer__section:nth-child(2),
    .pre-footer__section:nth-child(3) {
        padding-top: 40px;
    }
}

.pre-footer__section p {
    line-height: 20px;
}


@media screen and (max-width: 1024px) {
    ul#site-footer-menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    footer.site__footer{
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    ul.site__footer-sub-menu {
        padding-bottom: 24px;
        padding-top: 0px;
    }
}
    
@media screen and (max-width: 768px) {

    .pre-footer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
}

@media screen and(max-width: 768px){

    .footer__top {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
                
    }

    .footer__bottom {
  
	    display: -ms-flexbox;
	    display: -webkit-box;
	    display: flex;
	    -ms-flex-direction: column-reverse;
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: reverse;
	            flex-direction: column-reverse;
	    width: 100%;
	    flex-direction: column-reverse;
	    -webkit-box-pack: center;
	        -ms-flex-pack: center;
	            justify-content: center;
	    -webkit-box-align: center;
	        -ms-flex-align: center;
	            align-items: center;        
    }

    .bottom-buttons {
	        text-align: center;
    }
    
    .col {
        padding-top: 24px;
    }      
}

/* Newsletter */
.site__footer .sib_signup_box_inside_3{
	text-align: left;
}
.site__footer .sib_signup_box_inside_3 input{
	padding-left:0;
	color: #777777;
	-webkit-appearance: none;
    background-color: transparent;
}

.site__footer .sib-alert-message{
	line-height: 16px;
	font-size: 12px;
	color:black !important;
}