@import '../init/_normalize';

@import '../utils';
@import '../variables';
@import '../_fonts';

html {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

*,
*:before,
*:after { 
	-webkit-box-sizing: inherit; 
	        box-sizing: inherit; 
}

body {
	font-family: Roboto;
}

ul {
	margin: 0;
	padding: 0;
}

[aria-hidden="true"] {
	display: none !important;
}

[aria-current="page"] {
	color: red;
}

/**
 * LOADER
 */

.loader,
.loader:after {
	border-radius: 50%;
	width: 10em;
	height: 10em;
}

.loader {
	font-size: 3px;
	position: relative;
	border-top: 1.1em solid #e6e6e6;
	border-right: 1.1em solid #e6e6e6;
	border-bottom: 1.1em solid #e6e6e6;
	border-left: 1.1em solid #565656;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation: load8 1.1s infinite linear;
	animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

/**
 * POP-INS
 */

.aube__popin {
	position: fixed;
	@include center-x-y();
	border: 1px solid;
	text-align: center;
	z-index: 100;
}

/**
 * FORMS
 */

.aube__label {
	display: block;
}

.aube__input {
	border: 0;
	border-bottom: 1px solid #353535;
	background-color: transparent;
	color: #353535;
	padding-left: .25em;
	letter-spacing: .5px;
	height: 30px;
	min-width: 300px;
}

.aube__button {
	border: 1px solid #353535;
	padding: 10px;
	background-color: transparent;
	cursor: pointer;
}

/**
 * AJAX SIDEBAR
 */

/**
 * POP-IN NEWSLETTER
 */

/**
 * CLIENT DASHBOARD
 */

.loading__loader,
.loading__text {
	display: inline-block;
	vertical-align: middle;
}

/**
 * SECTION FAQ
 */
.section-faq {
    padding-top: 37px;
    padding-bottom: 37px;
}

.faq__title {
    text-align: center;
    text-transform: uppercase;
    color: #292929;
    font-size: 22px;
    line-height: 38px;
    font-style: normal;
    text-transform: uppercase;
}

.faq {

    text-align: center;
    margin: 40px auto;
    position: relative;
    max-width: 900px;
    padding: 0 2%;
}

.section-faq h3{
    margin: 0 auto 20px;
    border-radius: 3px;
    position: relative;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    padding-right: 2em;
    text-align: left;
    cursor: pointer;
}

.section-faq .question-answer {
	padding-top: 25px;
    padding-bottom: 15px;
        text-align: left;
}
.section-faq .question__up-arrow + div {
    text-align: left;
}

.section-faq .question__down-arrow:after {
	content: '';
	display: initial; 
	height: 50px;
	width: 50px;
	background-repeat: no-repeat;
    position: absolute;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    top: -9px;
    	-webkit-transform: rotate(90deg);
	        transform: rotate(90deg);
	background-size: 50px 50px;
	background-image: url(https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-forward-512.png);
    right: 0;
    cursor: pointer;
}
.section-faq .question__up-arrow:after {
	content: ''; 
	height: 50px;
	width: 50px;
	background-repeat: no-repeat;
    position: absolute;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
	top: -17px;
	-webkit-transform: rotate(-90deg);
	        transform: rotate(-90deg);
	background-size: 50px 50px;
	background-image: url(https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-forward-512.png);
    right: 0;
    cursor: pointer;
}

.separator-faq {
    border: 1px solid #F8C1B8;
        margin: 3em auto;
}

/**
 * CONTACT FORM
 */
 .aube-contact__section {
    padding-bottom: 37px;
    padding-top: 34px;
}

 .aube-contact__title {
    text-align: center;
    
    text-align: center;
    text-transform: uppercase;
    font-size: 23px;
    color: #292929;
    font-size: 22px;
    line-height: 38px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    margin-bottom: 3em;
    margin-top: 0;
}
.contact {

	h2 {
		display: inline-block;
	}
	h2:after {
		content: '';
		display: block;
		height: 2px; 
		width: 100%;
		margin-top: 10px;
		background-color: black;
	}
}

.contact__message {
    padding-top: 30px;
}

.message-input {
    padding-bottom: 53px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.input-label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: self-start;
        -ms-flex-align: self-start;
            align-items: self-start;
    padding: 0 15px;
    
    letter-spacing: 2.8px;
}

.message-container textarea {
    width: 100%;
    margin-bottom: 10px;
    height: 140px;
}
.message-container .aube__label {
    margin-bottom: 1em;
}

section#contact-section {
    text-align: center;
}

form#contact-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.problem-form__select {
    padding: 0.5em;
    background-color: #f9f9f9;
    border: thin solid #000;
    border-radius: 0;
    line-height: 1.5em;
    width: 360px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: linear-gradient(45deg,transparent 50%,#000 50%),linear-gradient(135deg,#000 50%,transparent 50%);
    background-position: calc(100% - 20px) calc(1em + 2px),calc(100% - 15px) calc(1em + 2px),100% 0;
    background-size: 5px 5px,5px 5px,2.5em 2.5em;
    background-repeat: no-repeat;
    margin-bottom: 20px;
    
}

.contact select:focus {
	background-image:
	  linear-gradient(45deg, white 50%, transparent 50%),
	  linear-gradient(135deg, transparent 50%, white 50%),
	  linear-gradient(to right, gray, gray);
	background-position:
	  calc(100% - 15px) 1em,
	  calc(100% - 20px) 1em,
	  100% 0;
	background-size:
	  5px 5px,
	  5px 5px,
	  2.5em 2.5em;
	background-repeat: no-repeat;
	border-color: grey;
	outline: 0;
}

.single-input div {
	margin-right: 30px;
}

.message-container {
	margin: auto; 
	width: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex; 
	-webkit-box-orient: vertical; 
	-webkit-box-direction: normal; 
	    -ms-flex-direction: column; 
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
    margin-top: 30px;
    padding-bottom: 30px;
    padding-top: 40px;
}

.message-container textarea {
    width: 100%;
    margin-bottom: 10px;
    height: 140px;
    border: 1px solid;
    
}

.message-container textarea:focus {
	outline: none;
}

textarea::-webkit-input-placeholder, input { /* Chrome/Opera/Safari */    
    color: #777777;
    font-size: 12px;
    font-family: 'BrandonGrotesque-Regular';
    letter-spacing: 2.8px;
}
.message-container textarea::-moz-placeholder { /* Firefox 19+ */
    color: #777777;
    font-size: 12px;
    font-family: 'BrandonGrotesque-Regular';
    letter-spacing: 2.8px;
}
.message-container textarea:-ms-input-placeholder { /* IE 10+ */
	color: #777777;
    font-size: 12px;
    font-family: 'BrandonGrotesque-Regular';
    letter-spacing: 2.8px;
}
.message-container textarea:-moz-placeholder { /* Firefox 18- */
	color: #777777;
    font-size: 12px;
    font-family: 'BrandonGrotesque-Regular';
    letter-spacing: 2.8px;
}

.contact form {
	margin-bottom: 20px;
}

@media screen and(max-width: 768px){
	.message-container{
		        margin-top: 2em;
        padding-top:0;
	}
    .message-input {
        display: inherit;
        padding-bottom: 0px;
    }
    .problem-form__select {
        width: 100%;
        max-width: 330px;
    }
    
    .aube__input{
	    margin-bottom: 1em;
    }
}

/**
 * SECTION NEW PRODUCTS (listing dynamique des derniers produits mis en ligne)
 */
.section-new-products {
	padding:37px 0;
}

.section-new-products .post__title{
	margin-top: 0;	
}

/* Dans le slider, je mets pas le hover avec la description, trop relou */
.section-new-products .overlay-text{
	display: none;
}

.section-new-products a.button.add_to_cart_button{
	margin-top: 1em;
}

/**
 * SECTION SLIDER
 */
.slider img {
    max-width: 100%;
    height: auto;
}

.cta img {
	padding-top: 20px;
	-webkit-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
    cursor: pointer;
}

.cta img:hover {
    -webkit-filter: brightness(0.6);
            filter: brightness(1.1);
}

.controls-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 4px;
}

.swiper-button-next-el, .swiper-button-next-np{
	top: 40%;
    right: 1%;
    width: 20px;
    height: 35px;
    margin-top: -12px;
    background-size: 20px 35px;
    position: absolute;
    z-index: 2;
	background-image: url('../assets/images/arrow-left.png');
	cursor: pointer;
}
.swiper-button-prev-el, .swiper-button-prev-np{
	top: 40%;
    left: 1%;
    width: 20px;
    height: 35px;
    margin-top: -12px;
    background-size: 20px 35px;
    position: absolute;
    z-index: 2;
	background-image: url('../assets/images/arrow-right.png');
	cursor: pointer;
}
.product_image_container img {
	width: 100%;
}

.swiper__text-container {    
    position: absolute;
    top: 20%;
	left: 10%;
	text-align: left;
}
.swiper__text-container--right{
	left: inherit;
	right: 10%;
	text-align: right;
}
.swiper__title {
	line-height: 29px;
	margin-bottom: 0px;
}

.swiper__subtitle {        
    line-height: 38px;
    margin-top: 3px;
}
.swiper__text{
// 	line-height: 23px;
    margin: auto;
    text-align: left;
}


/** swiper section slider **/
.swiper-button-prev-hm{
    background-image: url(../assets/images/arrow-left.png);
    top: 40%;
    // left: -5%;
    left: 1%;
    width: 20px;
    height: 35px;
    margin-top: -12px;
    background-size: 20px 35px;
    position: absolute;
    z-index: 2;
}
.swiper-button-next-hm {
    background-image: url(../assets/images/arrow-right.png);
    top: 40%;
   //  left: -5%;
   right: 1%;
    width: 20px;
    height: 35px;
    margin-top: -12px;
    background-size: 20px 35px;
	 position: absolute;
	 z-index: 2;
}

.swiper-button-next-hm, .swiper-button-prev-hm{
	display: none
	//uniquement pour ronds de lola afin dutiliser cette section comme un splash (car il y a du texte)
}
@media only screen and (max-width: 768px) {
    .swiper__text {
       display: none;
    }
    .swiper-button-next-hm {
        display: none;
    }
    .swiper-button-prev-hm{
        display: none;
    }

}