.site__toggle {
	display: none;
}

.aube-sign-sidebar {
	position: fixed;
	height: 100%;
	top: 0;
	right: -380px;
	background-color: white;
	z-index: 1000;
	width: 380px;
	border-left: 1px solid;
	transition: right .5s;
}

.aube-sign-sidebar--opened {
	right: 0;
	transition: right .5s;
}

	.aube-sign-sidebar__closer {
		position: absolute;
		right: 0;
	}

	.aube-sign-sidebar__content {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		text-align: center;
		width: 100%;
	}