.popin {
	opacity: 0;
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0);
	z-index: 102;
	text-align: center;
	background-size: cover;
    width: 750px;
    height: 400px;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	-webkit-overflow-scrolling: scroll;
}

.popin-overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgba(0,0,0,0.75);
    z-index: -1;
    opacity: 0;
    top: 0;
    left: 0;
}

.popin-overlay--visible{
	z-index: 101;
	opacity: 1;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.popin--visible {
	opacity: 1;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.popin-vertical {
	background-size: cover;
	border-radius: 5px;

}

.img_container-popin-vertical {
	height: 300px;
	overflow: hidden;
}

.popin__content-vertical{
	margin:30px auto;
	height:auto;

}

.pop-in__right-part{
    width: 30%;
    height: 100%;
    float: right;
    padding: 97px 27px 20px 20px;
    background: transparent;
    background-size: cover;
    background-position: center center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.pop-in__right-part .img-container {
    position: absolute;
    bottom: 1em;
    right: 1em;
}

.pop-in__right-part .img-container img{
    width: 100px;
}

.pop-in__left-part{
	position: absolute;
	top: 80px;
	left: 80px;
	max-width: 375px;
	text-align: left;
}

.pop-in__left-part .popin-cta{
    font-family: 'Montserrat', sans-serif;font-weight:300;
    height: 40px;
    margin: 3em auto 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    vertical-align: top;
    font-size: 16px;
    padding: 10px 26px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    text-decoration: none;
    letter-spacing: 0.5px;
    border-radius: 5px;
    -webkit-box-shadow: rgba(74,74,74,.20) 0px 8px 20px;
    box-shadow: rgba(74,74,74,.20) 0px 8px 20px;
    background-color: #014e70;
    color: #f5f5f5;
    display: inline-block;
}

.popin-container .hs-form .hs_submit .actions{
	margin-top: 8px;
    padding: 0;
    line-height: 40px;
    height: inherit;
    vertical-align: middle;
}

.popin-container fieldset.form-columns-1 .input{
	margin-top: 1em;
}

.pop-in__left-part h2{
    line-height: 26px;
    font-family: 'Montserrat', sans-serif;font-weight:700;
    font-size: 22px;
    color: #545454;
    letter-spacing: 0px;
    margin-top: 0;
    font-weight: inherit;
    margin-bottom: 16px;
}

.pop-in__left-part p{
	color: #545454;
    margin: 1em auto 2em;
    font-size: 14px;
    line-height: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight:400;
}

.pop-in__left-part .submitted-message p{
    margin: inherit;
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
}

.popin__content {
	padding:0;
	max-width: 300px;
	height: 360px;
}

.popin__closer {
	position: fixed;
	top: 15px;
	right: 15px;
	width: 30px;
	height: 30px;
	cursor: pointer;
	z-index:102;
}

.popin-vertical[aria-hidden="true"],
.popin__closer[aria-hidden="true"] {
	opacity: 0;
	z-index: 0;
}

.popin__closer[aria-hidden="false"] {
	opacity: 1;
}


.pop-in__background-color{
	border-radius: 5px;
	background-color: white;
	height: 100%;
	width: 100%;
	position: relative;
}

@media screen and (max-width: 768px) {
	.popin {
		width: 90%;
	}
	
	.pop-in__left-part{
	    left: 5%;
	    max-width: 60%;
	}
}

@media screen and (max-width: 480px) {
	.popin {
		width: 90%;
	}
	
	.pop-in__left-part {
	    left: 5%;
	    max-width: 90%;
	}
	
	.pop-in__right-part {
        display: none;
    }
}