@charset "UTF-8";
.banner {
  position: fixed;
  top: 0;
  z-index: 3;
  /* Luc 26/10 : 3 avant pour corriger l'affixe dans shop */
  width: 100%;
  text-align: center;
  line-height: 30px; }

.archive.tax-product_cat.woocommerce.woocommerce-page .banner,
.post-type-archive-product.woocommerce.woocommerce-page .banner {
  z-index: 2;
  /* Luc 26/10 : 3 avant pour corriger l'affixe dans shop */ }

.banner--hidden {
  display: none; }

.banner__text a {
  color: black; }

.banner[aria-hidden="false"] + .menu .site-header {
  margin-top: 30px; }
  @media screen and (max-width: 874px) {
    .banner[aria-hidden="false"] + .menu .site-header {
      margin-top: 0; } }

.banner[aria-hidden="false"] + .site-content {
  margin-top: 30px; }

.banner[aria-hidden="false"] + .menu__icons {
  margin-top: 30px;
  /* Ta mère ça marche pas */ }

.banner__text {
  margin: 0;
  font-family: 'HalisGR-Light';
  font-size: 90%;
  letter-spacing: 0.5px;
  /* ça devrait être 2px */ }
  @media screen and (max-width: 1280px) {
    .banner__text {
      font-size: 80%; } }
  @media screen and (max-width: 1190px) {
    .banner__text {
      font-size: 70%; } }
  @media screen and (max-width: 1050px) {
    .banner__text {
      font-size: 65%; } }
  @media screen and (max-width: 960px) {
    .banner__text {
      font-size: 55%; } }
  @media screen and (max-width: 874px) {
    .banner__text {
      display: none; } }

.banner__text p {
  margin: 0; }

.banner__text p strong {
  font-family: 'HalisGR-Bold';
  font-weight: 300; }

.banner__link {
  text-decoration: none;
  display: block;
  color: inherit; }

.banner__closer {
  width: 12px;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
  margin-right: 44px; }

.banner[aria-hidden=false] + .site__header {
  padding-top: 30px; }

.banner-closer {
  position: absolute;
  right: 1em;
  top: 0; }

ul#site-footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 87%;
  margin: 0px;
  text-transform: uppercase;
  font-weight: 300; }

footer.site__footer {
  max-width: 90%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

@media screen and (max-width: 768px) {
  footer.site__footer {
    margin-top: 50px; }
  .newsletter-input {
    font-size: 15px;
    padding: 0; } }

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.site__footer-menu-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start; }

.footer__bottom {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }

.bottom-buttons {
  width: auto; }

.bottom-buttons p, .bottom-buttons a {
  color: #777777;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 1em; }

.bottom-buttons a:last-child {
  margin-right: 0; }

li.site__footer-menu-item {
  list-style-type: none; }

ul.site__footer-sub-menu {
  text-transform: initial;
  padding-top: 13px; }

a.site__footer-menu-link {
  color: #777777; }

.site__footer-menu > li > a {
  font-weight: 700; }

span.footer__col-title {
  color: #777777;
  font-weight: 700;
  display: block;
  margin-bottom: 0.5em; }

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0px;
  position: relative; }
  .footer__form .aube__error {
    position: absolute;
    bottom: -14px;
    left: 0;
    width: 100%; }

input#newsletter-submit {
  background-color: black;
  color: white;
  font-size: 13px;
  border: 1px solid black; }

/*PRE-FOOTER*/
.pre-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  text-align: center;
  color: black;
  font-size: 12px;
  background-size: cover;
  padding: 50px; }

.pre-footer__picto {
  width: 30px; }

.pre-footer__section {
  max-width: 300px; }

@media screen and (max-width: 768px) {
  .pre-footer__section:nth-child(2),
  .pre-footer__section:nth-child(3) {
    padding-top: 40px; } }

.pre-footer__section p {
  line-height: 20px; }

@media screen and (max-width: 1024px) {
  ul#site-footer-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  footer.site__footer {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  ul.site__footer-sub-menu {
    padding-bottom: 24px;
    padding-top: 0px; } }

@media screen and (max-width: 768px) {
  .pre-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; } }

@media screen and (max-width: 768px) {
  .footer__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
  .footer__bottom {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-direction: column-reverse;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    flex-direction: column-reverse;
    width: 100%;
    flex-direction: column-reverse;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .bottom-buttons {
    text-align: center; }
  .col {
    padding-top: 24px; } }

/* Newsletter */
.site__footer .sib_signup_box_inside_3 {
  text-align: left; }

.site__footer .sib_signup_box_inside_3 input {
  padding-left: 0;
  color: #777777;
  -webkit-appearance: none;
  background-color: transparent; }

.site__footer .sib-alert-message {
  line-height: 16px;
  font-size: 12px;
  color: black !important; }

/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

body {
  font-family: Roboto; }

ul {
  margin: 0;
  padding: 0; }

[aria-hidden="true"] {
  display: none !important; }

[aria-current="page"] {
  color: red; }

/**
 * LOADER
 */
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em; }

.loader {
  font-size: 3px;
  position: relative;
  border-top: 1.1em solid #e6e6e6;
  border-right: 1.1em solid #e6e6e6;
  border-bottom: 1.1em solid #e6e6e6;
  border-left: 1.1em solid #565656;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear; }

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

/**
 * POP-INS
 */
.aube__popin {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  border: 1px solid;
  text-align: center;
  z-index: 100; }

/**
 * FORMS
 */
.aube__label {
  display: block; }

.aube__input {
  border: 0;
  border-bottom: 1px solid #353535;
  background-color: transparent;
  color: #353535;
  padding-left: .25em;
  letter-spacing: .5px;
  height: 30px;
  min-width: 300px; }

.aube__button {
  border: 1px solid #353535;
  padding: 10px;
  background-color: transparent;
  cursor: pointer; }

/**
 * AJAX SIDEBAR
 */
/**
 * POP-IN NEWSLETTER
 */
/**
 * CLIENT DASHBOARD
 */
.loading__loader,
.loading__text {
  display: inline-block;
  vertical-align: middle; }

/**
 * SECTION FAQ
 */
.section-faq {
  padding-top: 37px;
  padding-bottom: 37px; }

.faq__title {
  text-align: center;
  text-transform: uppercase;
  color: #292929;
  font-size: 22px;
  line-height: 38px;
  font-style: normal;
  text-transform: uppercase; }

.faq {
  text-align: center;
  margin: 40px auto;
  position: relative;
  max-width: 900px;
  padding: 0 2%; }

.section-faq h3 {
  margin: 0 auto 20px;
  border-radius: 3px;
  position: relative;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  padding-right: 2em;
  text-align: left;
  cursor: pointer; }

.section-faq .question-answer {
  padding-top: 25px;
  padding-bottom: 15px;
  text-align: left; }

.section-faq .question__up-arrow + div {
  text-align: left; }

.section-faq .question__down-arrow:after {
  content: '';
  display: initial;
  height: 50px;
  width: 50px;
  background-repeat: no-repeat;
  position: absolute;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  top: -9px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  background-size: 50px 50px;
  background-image: url(https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-forward-512.png);
  right: 0;
  cursor: pointer; }

.section-faq .question__up-arrow:after {
  content: '';
  height: 50px;
  width: 50px;
  background-repeat: no-repeat;
  position: absolute;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  top: -17px;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  background-size: 50px 50px;
  background-image: url(https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-forward-512.png);
  right: 0;
  cursor: pointer; }

.separator-faq {
  border: 1px solid #F8C1B8;
  margin: 3em auto; }

/**
 * CONTACT FORM
 */
.aube-contact__section {
  padding-bottom: 37px;
  padding-top: 34px; }

.aube-contact__title {
  text-align: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 23px;
  color: #292929;
  font-size: 22px;
  line-height: 38px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  margin-bottom: 3em;
  margin-top: 0; }

.contact h2 {
  display: inline-block; }

.contact h2:after {
  content: '';
  display: block;
  height: 2px;
  width: 100%;
  margin-top: 10px;
  background-color: black; }

.contact__message {
  padding-top: 30px; }

.message-input {
  padding-bottom: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.input-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: self-start;
  -ms-flex-align: self-start;
  align-items: self-start;
  padding: 0 15px;
  letter-spacing: 2.8px; }

.message-container textarea {
  width: 100%;
  margin-bottom: 10px;
  height: 140px; }

.message-container .aube__label {
  margin-bottom: 1em; }

section#contact-section {
  text-align: center; }

form#contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.problem-form__select {
  padding: 0.5em;
  background-color: #f9f9f9;
  border: thin solid #000;
  border-radius: 0;
  line-height: 1.5em;
  width: 360px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, #000 50%), linear-gradient(135deg, #000 50%, transparent 50%);
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), 100% 0;
  background-size: 5px 5px,5px 5px,2.5em 2.5em;
  background-repeat: no-repeat;
  margin-bottom: 20px; }

.contact select:focus {
  background-image: linear-gradient(45deg, white 50%, transparent 50%), linear-gradient(135deg, transparent 50%, white 50%), linear-gradient(to right, gray, gray);
  background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, 100% 0;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
  background-repeat: no-repeat;
  border-color: grey;
  outline: 0; }

.single-input div {
  margin-right: 30px; }

.message-container {
  margin: auto;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 30px;
  padding-bottom: 30px;
  padding-top: 40px; }

.message-container textarea {
  width: 100%;
  margin-bottom: 10px;
  height: 140px;
  border: 1px solid; }

.message-container textarea:focus {
  outline: none; }

textarea::-webkit-input-placeholder, input {
  /* Chrome/Opera/Safari */
  color: #777777;
  font-size: 12px;
  font-family: 'BrandonGrotesque-Regular';
  letter-spacing: 2.8px; }

.message-container textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #777777;
  font-size: 12px;
  font-family: 'BrandonGrotesque-Regular';
  letter-spacing: 2.8px; }

.message-container textarea:-ms-input-placeholder {
  /* IE 10+ */
  color: #777777;
  font-size: 12px;
  font-family: 'BrandonGrotesque-Regular';
  letter-spacing: 2.8px; }

.message-container textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #777777;
  font-size: 12px;
  font-family: 'BrandonGrotesque-Regular';
  letter-spacing: 2.8px; }

.contact form {
  margin-bottom: 20px; }

@media screen and (max-width: 768px) {
  .message-container {
    margin-top: 2em;
    padding-top: 0; }
  .message-input {
    display: inherit;
    padding-bottom: 0px; }
  .problem-form__select {
    width: 100%;
    max-width: 330px; }
  .aube__input {
    margin-bottom: 1em; } }

/**
 * SECTION NEW PRODUCTS (listing dynamique des derniers produits mis en ligne)
 */
.section-new-products {
  padding: 37px 0; }

.section-new-products .post__title {
  margin-top: 0; }

/* Dans le slider, je mets pas le hover avec la description, trop relou */
.section-new-products .overlay-text {
  display: none; }

.section-new-products a.button.add_to_cart_button {
  margin-top: 1em; }

/**
 * SECTION SLIDER
 */
.slider img {
  max-width: 100%;
  height: auto; }

.cta img {
  padding-top: 20px;
  -webkit-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  cursor: pointer; }

.cta img:hover {
  -webkit-filter: brightness(0.6);
  filter: brightness(1.1); }

.controls-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 4px; }

.swiper-button-next-el, .swiper-button-next-np {
  top: 40%;
  right: 1%;
  width: 20px;
  height: 35px;
  margin-top: -12px;
  background-size: 20px 35px;
  position: absolute;
  z-index: 2;
  background-image: url("../assets/images/arrow-left.png");
  cursor: pointer; }

.swiper-button-prev-el, .swiper-button-prev-np {
  top: 40%;
  left: 1%;
  width: 20px;
  height: 35px;
  margin-top: -12px;
  background-size: 20px 35px;
  position: absolute;
  z-index: 2;
  background-image: url("../assets/images/arrow-right.png");
  cursor: pointer; }

.product_image_container img {
  width: 100%; }

.swiper__text-container {
  position: absolute;
  top: 20%;
  left: 10%;
  text-align: left; }

.swiper__text-container--right {
  left: inherit;
  right: 10%;
  text-align: right; }

.swiper__title {
  line-height: 29px;
  margin-bottom: 0px; }

.swiper__subtitle {
  line-height: 38px;
  margin-top: 3px; }

.swiper__text {
  margin: auto;
  text-align: left; }

/** swiper section slider **/
.swiper-button-prev-hm {
  background-image: url(../assets/images/arrow-left.png);
  top: 40%;
  left: 1%;
  width: 20px;
  height: 35px;
  margin-top: -12px;
  background-size: 20px 35px;
  position: absolute;
  z-index: 2; }

.swiper-button-next-hm {
  background-image: url(../assets/images/arrow-right.png);
  top: 40%;
  right: 1%;
  width: 20px;
  height: 35px;
  margin-top: -12px;
  background-size: 20px 35px;
  position: absolute;
  z-index: 2; }

.swiper-button-next-hm, .swiper-button-prev-hm {
  display: none; }

@media only screen and (max-width: 768px) {
  .swiper__text {
    display: none; }
  .swiper-button-next-hm {
    display: none; }
  .swiper-button-prev-hm {
    display: none; } }

.site__toggle {
  display: none; }

.aube-sign-sidebar {
  position: fixed;
  height: 100%;
  top: 0;
  right: -380px;
  background-color: white;
  z-index: 1000;
  width: 380px;
  border-left: 1px solid;
  transition: right .5s; }

.aube-sign-sidebar--opened {
  right: 0;
  transition: right .5s; }

.aube-sign-sidebar__closer {
  position: absolute;
  right: 0; }

.aube-sign-sidebar__content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: 100%; }

.popin {
  opacity: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  z-index: 102;
  text-align: center;
  background-size: cover;
  width: 750px;
  height: 400px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-overflow-scrolling: scroll; }

.popin-overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: -1;
  opacity: 0;
  top: 0;
  left: 0; }

.popin-overlay--visible {
  z-index: 101;
  opacity: 1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.popin--visible {
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.popin-vertical {
  background-size: cover;
  border-radius: 5px; }

.img_container-popin-vertical {
  height: 300px;
  overflow: hidden; }

.popin__content-vertical {
  margin: 30px auto;
  height: auto; }

.pop-in__right-part {
  width: 30%;
  height: 100%;
  float: right;
  padding: 97px 27px 20px 20px;
  background: transparent;
  background-size: cover;
  background-position: center center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; }

.pop-in__right-part .img-container {
  position: absolute;
  bottom: 1em;
  right: 1em; }

.pop-in__right-part .img-container img {
  width: 100px; }

.pop-in__left-part {
  position: absolute;
  top: 80px;
  left: 80px;
  max-width: 375px;
  text-align: left; }

.pop-in__left-part .popin-cta {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  height: 40px;
  margin: 3em auto 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  vertical-align: top;
  font-size: 16px;
  padding: 10px 26px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  text-decoration: none;
  letter-spacing: 0.5px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(74, 74, 74, 0.2) 0px 8px 20px;
  box-shadow: rgba(74, 74, 74, 0.2) 0px 8px 20px;
  background-color: #014e70;
  color: #f5f5f5;
  display: inline-block; }

.popin-container .hs-form .hs_submit .actions {
  margin-top: 8px;
  padding: 0;
  line-height: 40px;
  height: inherit;
  vertical-align: middle; }

.popin-container fieldset.form-columns-1 .input {
  margin-top: 1em; }

.pop-in__left-part h2 {
  line-height: 26px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: #545454;
  letter-spacing: 0px;
  margin-top: 0;
  font-weight: inherit;
  margin-bottom: 16px; }

.pop-in__left-part p {
  color: #545454;
  margin: 1em auto 2em;
  font-size: 14px;
  line-height: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400; }

.pop-in__left-part .submitted-message p {
  margin: inherit;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit; }

.popin__content {
  padding: 0;
  max-width: 300px;
  height: 360px; }

.popin__closer {
  position: fixed;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 102; }

.popin-vertical[aria-hidden="true"],
.popin__closer[aria-hidden="true"] {
  opacity: 0;
  z-index: 0; }

.popin__closer[aria-hidden="false"] {
  opacity: 1; }

.pop-in__background-color {
  border-radius: 5px;
  background-color: white;
  height: 100%;
  width: 100%;
  position: relative; }

@media screen and (max-width: 768px) {
  .popin {
    width: 90%; }
  .pop-in__left-part {
    left: 5%;
    max-width: 60%; } }

@media screen and (max-width: 480px) {
  .popin {
    width: 90%; }
  .pop-in__left-part {
    left: 5%;
    max-width: 90%; }
  .pop-in__right-part {
    display: none; } }


/*# sourceMappingURL=style.css.map*/